* {
	padding: 0;
	margin: 0;
	font-family: 'Indie Flower', cursive;
}

body {
	text-align: center;
	background-color: #D3D1D1;
}

#main-container{
	margin-top: 20px;
	display: inline-block;
	background-color: #BABBAB;
	height: 400px;
	width: 248px;
	box-shadow: 5px 6px 11px 2px rgba(0,0,0,0.78);
	border-radius: 3px;
}

#title {
	padding: 20px;
	color: #242424;
	font-size: 40px;
	font-weight: bold;
	font-family: 'Indie Flower', cursive;
}

#buttons-container {
	display: inline-block;
	width: 230px;
}

	#first-line-buttons {
		display: flex;
	}	

		#display-todos-button {
			background-color: white;
			color: #242424;
			border-style: none;
		}

		#toggle-all-button {
			background-color: white;
			color: #242424;
			border-style: none;
		}

	#second-line-buttons {
		display: flex;	
	}

		#add-button {
			width: 20%;
			height: 22px;
			margin-right: 1px;
			background-color: #1FBD54;
		}

		#add-todo-text-input {
			width: 100%;
			height: 22px;
			border-radius: 3px;
			border-style: none;
			font-family: arial;
		}

	#third-line-buttons {
		display: flex;
		width: 100%;
	}

		#change-todo-button {
			width: 20%;
			height: 22px;
		}

		#todo-change-position-input {
			width: 20%;
			height: 22px;
			border-radius: 3px;
			border-style: none;
			font-family: arial;
			margin-right: 1px;
		}

		#change-todo-text-input {
			width: 60%;
			height: 22px;
			border-radius: 3px;
			border-style: none;
			font-family: arial;
		}

	#fourth-line-buttons {
		display: flex;
		justify-content: center;
	}

		#delete-todo-button {
			width: 60%;
			height: 22px;
			margin-right: 1px;
			background-color: #F10E12;
		}

		#delete-todo-position-input {
			width: 40%;
			height: 22px;
			border-radius: 3px;
			border-style: none;
			font-family: arial;
		}
	#fifth-line-buttons {
		display: flex;
	}

		#toggle-todo-button {
			width: 60%;
			height: 22px;
			margin-right: 1px;
			background-color: orange;
		}

		#toggle-todo-position-input {
			width: 40%;
			height: 22px;
			border-radius: 3px;
			border-style: none;
			font-family: arial;
		}


button {
	width: 100%;
	border-style: none;
	background-color: #bd5734;
	font-weight: 900;
	height: 25px;
	line-height: 10px;
	color: white;
	border-radius: 3px;
	margin: 1px;
}

#list {
	width: 230px;
	height: calc(100% - 230px);
	background-color: white;
	margin-top: 1px;
	border: none;
	border-radius: 3px;
}

.center {
	justify-content: center;
	align-items: center;
}
